svg.r6o-connections-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;

  .r6o-connections-hover {
    fill:rgba(0, 0, 0, 0.1);
    stroke:rgba(0, 0, 0, 0.6);
    stroke-width:0;
    cursor:pointer;
  }

  .r6o-connections-handle {
    pointer-events:auto;
    cursor:crosshair;

    .r6o-connections-handle-outer {
      fill:#fff;
      stroke-width:2px;
      stroke:#000;
      pointer-events:auto;
    }

    .r6o-connections-handle-inner {
      fill:#000;
    }

  }

  g.connection-arrow {

    circle, polygon {
      fill:red;
    }

    path {
      fill:none;
      stroke:red;
      stroke-width:2px;
    }

  }
}