body.r6o-hide-cursor {

  * {
    cursor:none !important;
  }
  
}

svg.r6o-connections-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;

  .r6o-connections-hover {
    fill:rgba(0, 0, 0, 0.1);
    stroke:rgba(0, 0, 0, 0.6);
    stroke-width:0;
    cursor:pointer;
  }

  .r6o-connections-handle {
    pointer-events:auto;
    cursor:crosshair;

    .r6o-connections-handle-outer {
      fill:#fff;
      stroke-width:2px;
      stroke:#000;
      pointer-events:auto;
    }

    .r6o-connections-handle-inner {
      fill:#000;
    }

  }

  g.r6o-connections-arrow {

    .r6o-connections-arrow-path {

      .r6o-connections-arrow-path-inner {
        fill:none;
        stroke:#000;
        stroke-width:3px;
        stroke-dasharray:6 3;
      }

      .r6o-connections-arrow-path-outer {
        fill:none;
        stroke:rgba(255, 255, 255, 0.7);
        stroke-width:7px;
      }

    }

    .r6o-connections-arrow-base {

      .r6o-connections-arrow-base-outer {
        fill:#fff;
        stroke-width:2px;
        stroke:#000;
        pointer-events:auto;
      }

      .r6o-connections-arrow-base-inner {
        fill:#000;
      }

    }

    .r6o-connections-arrow-head {
      fill:#000;
      stroke:rgba(255, 255, 255, 0.7);
      stroke-width:2px;
    }


    circle {
      fill:red;
    }

  }

}