body.r6o-hide-cursor {

  * {
    cursor:none !important;
  }
  
}

svg.r6o-connections-canvas {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;

  .r6o-connections-edge,
  .r6o-connections-float {

    .r6o-connections-edge-path,
    .r6o-connections-float-path {

      .r6o-connections-edge-path-inner,
      .r6o-connections-float-path-inner {
        fill:none;
        stroke:#000;
        stroke-width:3px;
        stroke-dasharray:6 3;
      }

      .r6o-connections-edge-path-outer,
      .r6o-connections-float-path-outer {
        fill:none;
        stroke:rgba(255, 255, 255, 0.7);
        stroke-width:7px;
      }

    }

    .r6o-connections-edge-head,
    .r6o-connections-float-head {
      fill:#000;
      stroke:rgba(255, 255, 255, 0.7);
      stroke-width:2px;
    }
  
  }

  .r6o-connections-edge {

    .r6o-connections-edge-base {
      fill:#000;
      stroke-width:0;
    }

  }

  .r6o-connections-float {

    .r6o-connections-float-base {

      .r6o-connections-float-base-outer {
        fill:#fff;
        stroke-width:2px;
        stroke:#000;
        pointer-events:auto;
      }

      .r6o-connections-float-base-inner {
        fill:#000;
      }

    }

  }

  .r6o-connections-hover {

    .r6o-connections-hover-emphasis {
      fill:rgba(0, 0, 0, 0.1);
      stroke:rgba(0, 0, 0, 0.6);
      stroke-width:0;
      cursor:pointer;
    }

    .r6o-connections-handle {
      pointer-events:auto;
      cursor:crosshair;

      .r6o-connections-handle-mousetrap {
        fill:transparent;
      }

      .r6o-connections-handle-dot {
        fill:#000;
        stroke-width:0;
      }

      .r6o-connections-handle-tether {
        stroke:#000;
        stroke-width:2;
        stroke-dasharray:2 2;
      }

      .r6o-connections-handle-outer {
        fill:#fff;
        stroke-width:2px;
        stroke:#000;
        pointer-events:auto;
      }

      .r6o-connections-handle-inner {
        fill:#000;
      }

    }

  }

}